@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

#canvas1{
    /* border: 5px solid black; */
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.controls{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* margin: 10px 0; */
    margin-top: 1%;
}
label,select{
    font-size: 1.2rem;
    font-weight: bold;
}
select{
    padding: 3px;
}
footer{
    height: 93vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    
}
button{
    padding: 5px 15px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    color: white;
    background-color: #FA7070;
    cursor: pointer;
}