<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Quizy</h1>
        <hr>
        
        <p>Q. <span id="ques"> Question will appear here </span></p>
        <div class="options">

            <button id="o" class="btn-opt one">Null</button>
            <button id="t" class="btn-opt two">Null</button> 
            <button id="th" class="btn-opt three">Null</button>
            <button id="f" class="btn-opt four">Null</button>
        </div>
        <div class="next">

            <button id="next">Next</button>
        </div>

    </div>

    <script src="index.js" defer'></script>
</body>
</html>