@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #fff;
}
a{
    text-decoration: none;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(14, 14, 14);
}
#main{
    height: 100%;
    width: 100%;
}
/* nav */
#main #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 80px;

}
#nav-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
#nav,#nav-left h1,h3{
    cursor: pointer;
}
/* ------------------------------- */
/* about */
.content{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 30px;
    /* flex-direction: column; */
    /* background-color: red; */
    text-align: center;

    /* margin-left: 30%; */
}
.content2{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 2%;
}
.content2 p{
    width: 50%;
    font-size: 1rem;
}
.content h1{
    font-size: 4.5rem;
    line-height: 1;
}
/* ---------------- */
/* home */
