@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: #FEFBF6;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    border: 2px solid black;
    height: 40vmin;
    width: 60vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vmin;
    border-radius: 3vmin;
    background-color: #ECB159;
    border: none;
    box-shadow: 2px 2px 2px #aa5e39;
}
.stopwatch{
    /* height: 5vmin; */
    text-align: center;
    padding: 4vmin;
    width: 110%;
    border: 2px solid black;
    font-size: 4vmin;
    border-radius: 1vmin;
    background-color: #8CB9BD;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.499);
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vmin;
}
button{
    padding: 1vmin 2vmin;
    border-radius: 3vmin;
    border: none;
    font-size: 3vmin;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.547);
    background-color: #B67352;
    cursor: pointer;
    color: whitesmoke;
}