@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
}
#box{
    height: 100px;
    width: 100px;
    background-color: crimson;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: rosybrown;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: crimson;
}
#page2 img{
    height: 100%;
    width: 20%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page4{
    height: 100%;
    width: 100%;
    background-color: olive;
    display: flex;
    text-align: center;
    align-items: center;

}
#page4 h1{
    font-size: 38vw;

    /* display: inline-block; */
    text-wrap: nowrap;
}
